.ask-us {
	position: relative;
	background: linear-gradient(
			#000,
			rgba(0, 0, 0, 0.952) 30%,
			rgba(0, 0, 0, 0.726) 40%,
			rgba(0, 0, 0, 0.767) 65%,
			#000
		),
		url(../../Assets/assets/askbg.jpg);
	background-position: top center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h2 {
		text-shadow: 2px 2px 15px rgb(0, 0, 0);
		margin-bottom: 2rem;
		font-family: muli;
		font-weight: 900;
		font-size: 4rem;
	}
}

.ask-us-container {
	margin: 0 auto;
	width: 100%;
	max-width: 920px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	h2 {
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
}

.ask-input {
	width: 50%;
	padding: 1.2rem;
	border-radius: 4px;
	border: none;
	height: 30px;
	font-size: 1.2rem;
	color: #333;
}

form {
	button {
		border: none;
		display: block;
		margin: 5px auto;
		background-color: #fff;
		color: rgb(43, 43, 43);
		border: 1px solid rgb(43, 43, 43);
		border-radius: 4px;
		padding: 4px 8px;
		&:hover {
			background-color: #222;
			color: #fff;
			border: 1px solid #fff;
		}
	}
}

.feature-section {
	display: flex;
	margin-bottom: 3rem;
	.feature-item {
		height: 300px;
		width: 300px;
		background-color: rgba(255, 255, 255, 0.897);
		margin: 1rem 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 4px;
		div {
			text-align: center;
			height: 40%;
			padding: 0 1rem;
		}
		h5,
		p {
			color: #fff;
			text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.644);
		}

		h5 {
			font-size: 2rem;
			margin-bottom: 2rem;
			font-family: muli;
			font-weight: 900;
		}
		p {
			font-family: muli;
			font-size: 1.1rem;
		}
		h2 {
			padding-bottom: 2rem;
		}
		i {
			padding-bottom: 2rem;
			color: #fff;
			text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.644);
		}

		&.one {
			background: linear-gradient(
					rgba(22, 88, 22, 0.719),
					rgba(23, 14, 31, 0.527)
				),
				url("../../Assets/assets/myers.jpg");
		}
		&.two {
			background: linear-gradient(
					rgba(23, 24, 128, 0.76),
					rgba(49, 37, 58, 0.527)
				),
				url("../../Assets/assets/jason.jpg");
			background-size: cover;
			background-position: center;
		}
		&.three {
			background: linear-gradient(
					rgba(105, 20, 48, 0.795),
					rgba(49, 37, 58, 0.527)
				),
				url("../../Assets/assets/freddy.jpg");
			background-size: cover;
			background-position: center;
		}
	}
}

#pulse2 {
	position: absolute;
	bottom: 15px;
	right: 49%;
	margin: 0 auto;
	animation-name: scale;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	color: rgb(255, 138, 4);
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
		opacity: 0.1;
	}
	100% {
		transform: scale(1);
	}
}
